<!DOCTYPE html>
<html lang="en">

<head>
  <title>Color Therapy</title>

  <link rel="stylesheet" href="/vent.css">
  <link href="https://fonts.googleapis.com/css2?family=Neuton&display=swap" rel="stylesheet">


</head>

<body>
  <div id="menu-wrapper">
    <div id="menu" class="container">
      <ul>
        <li class="current_page_item"><a href="#">Homepage</a></li>
        <li><a href="/newsfeed">Newsfeed</a></li>
        <li><a href="/calendar">My Graph</a></li>
        <!-- <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li> -->
      </ul>
    </div>
  </div>

    <h1 class="titleR">Color Therapy Chat</h1>
  </a>

  <ul id="hold" class="messages grid-container">
    <!-- //embeded javascript tempates
    //loops through message array -->
    <% for(var i=0; i< messages.length; i++) {%>
    <!-- //for every message put inside this -->

    <li id="mess" class="message">
      <div class="comment-main-level">

        <!-- Contenedor del Comentario -->
        <div class="comment-box">
          <div class="comment-head">
            <h6 class="comment-name">
              <span data-id='<%= messages[i]._id %>'><%= messages[i].name%></span></h6>
              <div class="">

              </div>

            <button class="remove">delete</button>
          </div>
          <div class="comment-content">
            <span><%= messages[i].chat %></span>
          </div>
          <!-- closes the loop, makes a div everytime it iterates -->
          <% } %>
        </div>
      </div>
    </li>

  </ul>

  <form class="post" action="/talk" method="post">
    <input id="msg" type="text" name="chat" value="" placeholder="">
    <span id="uName" data-name="<%= uName%>"></span>
    <span id="uId" data-id="<%=uId%>"></span>
    <input type="hidden" name="color" value="<%=color%>">
    <button id="chatSubmit" type="submit">submit</button>
  </form>
  <script type="text/javascript" src="/color-chat.js">

  </script>
  <script src="https://kit.fontawesome.com/077191d827.js" crossorigin="anonymous"></script>
</body>

</html>
